html {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.box {
    position: relative;
}
.box-item:nth-child(1) {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    left: 200px;
    top: 200px;
}
.box-item:nth-child(2) {
position: absolute;
    width: 150px;
    height: 150px;
   background-color: blue;
    left: 290px;
    top: 290px;
    z-index: 1;
}
.box-item:nth-child(3) {
position: absolute;
    width: 150px;
    height: 150px;
    background-color: green;
    left: 390px;
    top: 390px;
}